@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gelasio|Mr+De+Haviland|Source+Sans+Pro&display=swap');

body {
  margin: 0;
  text-align: center;
  color:#494949;
}

h1 {
  margin-top: 50px, auto, 0, auto;
  font-family: 'Dancing Script', cursive;
  color: #015668;
  font-size: 500%;
  /* 100%=16px=1rem */
}

h2 {
  font-family: 'Gelasio', serif;
  font-size: 2.5rem;
  color: #015668;
  font-weight: normal;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #0f4c75
}

.not-bold {
  font-weight: normal;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 5%;
  opacity: 0.3;
  color: gray;
}

p {
  line-height: 1.3;
  font-size: 1.3rem;
}

li {
  font-size: 1.3rem;
  line-height: 1.5;
}

li::marker {
  color: #0f4c75;
}


.top-container {
  background-color: #ecfcff;
  background-image: linear-gradient(#ecfcff, #bbe1fa);
  position: relative;
  padding-top: 100px;
  margin-bottom: 50px;
  min-height: 100vh;
}

.middle-container {
  padding-bottom: 40px;
}

.skill-row:last-child {
  margin-bottom: 1rem;
}

.bottom-container {
  background-color: #ecfcff;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #0f4c75;
}

.footer-link {
  padding: 1rem;
  font-size: 1rem;
  color: #0f4c75;
  font-weight: bold;
  text-decoration: none;
}

.img-lefy {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.img-right {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 3rem;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  padding-bottom: 50px;
  text-align: left;

}

.btn {
  font-family: 'Source Sans Pro', sans-serif;
  color: #015668 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #015668 !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-size: 1.17em;
  font-weight: bold;
}

.btn:hover {
  color: #015668 !important;
  border-radius: 50px;
  border-color: #015668 !important;
  transition: all 0.3s ease 0s;
}

.tori{
 width:30%;
 height: 30%;
}

.h2-top{
  margin-bottom:0
}
.intro{
  width:30%;
  margin: 0 auto 0 auto;
}
.p-footer{
  font-size: 14px;
}
